@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@theme {
  /* PRIMARY COLORS */
  --color-lingua-purple: #6c4ef5;
  --color-lingua-deep-purple: #5b3bf6;
  --color-lingua-blue: #4d88ff;
  --color-lingua-green: #21c16b;

  /* SEMANTIC COLORS */
  --color-success: #21c16b;
  --color-warning: #ffcb00;
  --color-streak: #ff8a00;
  --color-error: #ff4d4f;
  --color-info: #4d88ff;

  /* NEUTRAL COLORS */
  --color-text-primary: #001328;
  --color-text-secondary: #6b7280;
  --color-border: #e5e7eb;
  --color-surface: #f6f7fb;
  --color-background: #ffffff;

  /* FONTS */
  --font-poppins: "Poppins-Regular";
  --font-poppins-medium: "Poppins-Medium";
  --font-poppins-semibold: "Poppins-SemiBold";
  --font-poppins-bold: "Poppins-Bold";
}

/* Typography */

@utility typo__h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #6c4ef5;
  text-align: center;
}

@utility typo__h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  color: #001328;
}

@utility typo__h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #001328;
}

@utility typo__h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #001328;
}

@utility typo__body-sm {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color: #001328;
}